<nav class="black">
    <div class="container">
        <div class="nav-wrapper black">
            <a href="#" class="brand-logo">Favourite sites</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/links/add"><i class="material-icons">add</i></a></li>    
            <li><a href="/links"><i class="material-icons">view_module</i></a></li>         
        </div>
    </div>
</nav>