<div class="container">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-body">
                    <form   class="col s12" action="/links/edit/{{links.id}}" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="title" value="{{links.title}}" name="title" type="text" placeholder="Title" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="url" value="{{links.url}}" name="url" type="url" placeholder="Url" class="form-control">
                            </div>
                        </div>
                            <div class="row">
                            <div class="input-field col s12">
                            <textarea name="description"   placeholder="Description" id="description" cols="30" rows="10">{{links.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-control">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>